%h1 Tag Groups

%p
  = link_to 'New Tag Group', new_tag_group_path, class: 'button'

%table
  %thead
    %tr
      %th Name
      %th Actions
  %tbody
    - @tag_groups.each do |group|
      %tr
        %td= link_to group.name, tag_group_path(group)
        %td
          = link_to 'Show', tag_group_path(group)
          - unless group.system?
            = link_to 'Edit', edit_tag_group_path(group)
            = button_to 'Delete', tag_group_path(group), method: :delete, data: { confirm: 'Are you sure?' }, form: { style: 'display:inline' }
