%h1= @tag_group.name

%p
  = link_to 'Back', tag_groups_path
  - unless @tag_group.system?
    |
    = link_to 'Edit', edit_tag_group_path(@tag_group)

%h2 Tags

- unless @tag_group.system?
  %p
    = link_to 'New Tag', new_tag_group_tag_path(@tag_group), class: 'button'

%table
  %thead
    %tr
      %th Name
      - unless @tag_group.system?
        %th
  %tbody
    - @tag_group.tags.order(:name).each do |tag|
      %tr
        %td= tag.name
        - unless tag.system?
          %td
            = link_to 'Edit', edit_tag_group_tag_path(@tag_group, tag)
            = button_to 'Delete', tag_group_tag_path(@tag_group, tag), method: :delete, data: { confirm: 'Are you sure?' }, form: { style: 'display:inline' }
