= form_with(model: image, local: true, html: { multipart: true }) do |f|
  - if image.errors.any?
    #error_explanation
      %h2= "#{pluralize(image.errors.count, 'error')} prohibited this image from being saved:"
      %ul
        - image.errors.full_messages.each do |message|
          %li= message

  - if image.new_record?
    .field
      = f.label :file, 'Image file'
      = f.file_field :file, direct_upload: true

  .field
    = f.label :crop_gravity, 'Crop Focus'
    = f.select :crop_gravity, Image::GRAVITIES.map { |g| [g.underscore.humanize, g] }, {}, class: 'select'

  .field
    %h3 Select Tags
    - TagGroup.includes(:tags).order(:name).each do |tag_group|
      %strong= tag_group.name
      = f.collection_check_boxes :tag_ids, tag_group.tags.order(:id), :id, :name do |b|
        %div.checkbox
          = b.check_box
          = b.label class: 'tag-label' do
            - if (icon = weather_icon_for(b.object))
              = icon
            = b.text

  .actions
    = f.submit(image.new_record? ? 'Upload' : 'Save')
