%h1
  - if @image.file.attached?
    = @image.file.filename.to_s
  - else
    = "Image ##{@image.id}"

%p
  = link_to 'Back', images_path
  |
  = link_to 'Upload Another', new_image_path
  |
  = link_to 'Edit', edit_image_path(@image)
  |
  = button_to 'Delete', image_path(@image), method: :delete, data: { confirm: 'Are you sure?' }, form: { style: 'display:inline' }

%h2 Image
- if @image.file.attached?
  = image_tag url_for(@image.file.variant(resize_to_limit: [150, 150]))

%h2 Tags
- if @image.tags.any?
  %ul
    - @image.tags.each do |tag|
      %li= tag.name
- else
  %p No tags assigned.
